:root {
  --glance-close-anim-time: 250ms;
  --glance-open-anim-time: 250ms;
}

/* Glance styles for builtin objects */

button.glance {
  display: inline-block;
  padding: 10px 12px;
  border: 0;
  border-radius: 0;
  font-weight: bold;
  background-color: #ffffff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  transition: background-color 100ms linear;
}
button.glance:hover {
  background-color: #eaecf0;
}

button.glance.glance-toggled {
  background-color: #99bbff;
}
button.glance.glance-toggled:hover {
  background-color: #6699ff;
}

button.glance.glance-icon {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
button.glance-progressive {
  color: #ffffff;
  background-color: #3366cc;
}
button.glance-progressive:hover {
  background-color: #1a3f99;
}

.glance-vpush {
  min-height: 100%;
  height: max-content;
}

.glance-no-scroll {
  overflow: hidden;
}

/* Container */
#glance-ui-editor {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-color: #ffffff;
  font-family: sans-serif;
  transition: background-color 0.25s linear;
}

#glance-ui-editor.glance-ui-editor-translucent {
  background-color: #ffffffd0;  /* you should be barely able to see the page behind the editor */
}

#glance-ui-editor:focus {
  outline: none;
}
#glance-ui-editor *:focus {
  outline: revert;
}

@keyframes glance-ui-editor-open {
  from {
    opacity: 0%;
    transform: scale(80%);
  }

  to {
    opacity: 100%;
    transform: scale(100%);
  }
}

@keyframes glance-ui-editor-close {
  from {
    opacity: 100%;
    transform: scale(100%);
  }

  to {
    opacity: 0%;
    transform: scale(80%);
  }
}

#glance-ui-editor.glance-ui-editor-open {
  display: block;
  z-index: 1001;
}

#glance-ui-editor.glance-ui-editor-opening {
  display: block;
  z-index: 1001;
  animation: var(--glance-open-anim-time) 0ms ease 1 forwards glance-ui-editor-open;
}

#glance-ui-editor.glance-ui-editor-closing {
  display: block;
  z-index: 1001;
  animation: var(--glance-close-anim-time) 0ms ease 1 forwards glance-ui-editor-close;
}

/* Header */
#glance-ui-editor #glance-ui-editor-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #000000;
  /* t r b l */
  padding: 0 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  font-size: 1.4rem;

  height: 48px;
}

#glance-ui-editor #glance-ui-editor-header > .glance-p {
  /* t r b l */
  margin: 10px 15px 10px 15px;
}

.glance-flex-fill {
  flex-grow: 1;
}