:root {
  --glance-close-anim-time: 200ms;
  --glance-open-anim-time: 200ms;
}

#glance-ui-editor {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

@keyframes glance-ui-editor-open {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

@keyframes glance-ui-editor-close {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

#glance-ui-editor.glance-ui-editor-open {
  display: block;
  z-index: 1001;
  background-color: #ffffffb0;
}

#glance-ui-editor.glance-ui-editor-opening {
  display: block;
  z-index: 1001;
  animation: glance-ui-editor-open var(--glance-open-anim-time) linear 0 1 forwards;
}

#glance-ui-editor.glance-ui-editor-closing {
  display: block;
  z-index: 1001;
  animation: glance-ui-editor-close var(--glance-close-anim-time) linear 0 1 forwards;
}